<section id="list">
  <div class="c-table">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Entrenador</th>
          <th>Nacionalidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of teamList">
          <td>{{ t.id }}</td>
          <td>{{ t.nombre }}</td>
          <td>{{ t.entrenador }}</td>
          <td>{{ t.nacionalidad }}</td>
          <td>
            <span routerLink="/editar/{{ t.id }}">Editar</span>
            <span (click)="delete(t.id)">Eliminar</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
