.menu {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;

  div {
    width: 33%;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      color: red;
    }
  }
}
