<section id="find">
  <div class="form">
    <h2>Buscar por ID</h2>
    <fieldset>
      <label>ID</label>
      <input type="number" id="id" name="id" />
    </fieldset>
    <div class="btn" (click)="findTeamById()">Buscar</div>
  </div>
  <div class="form">
    <h2>Buscar por fechas</h2>
    <fieldset>
      <label>Fecha inicio</label>
      <input type="text" id="startDate" name="startDate" value="01-01-1800" />
    </fieldset>
    <fieldset>
      <label>Fecha fin</label>
      <input type="text" id="endDate" name="endDate" value="25-07-2019" />
    </fieldset>
    <div class="btn" (click)="findTeamByDates()">Buscar</div>
  </div>

  <div class="form" *ngIf="showOne">
    <fieldset>
      <label>Nombre</label>
      <input type="text" id="nombre" />
    </fieldset>
    <fieldset>
      <label>Estadio</label>
      <input type="text" id="estadio" />
    </fieldset>
    <fieldset>
      <label>Sitio Web</label>
      <input type="text" id="sitioWeb" />
    </fieldset>
    <fieldset>
      <label>Nacionalidad</label>
      <input type="text" id="nacionalidad" />
    </fieldset>
    <fieldset>
      <label>Fundacion</label>
      <input type="text" id="fundacion" />
    </fieldset>
    <fieldset>
      <label>Entrenador</label>
      <input type="text" id="entrenador" />
    </fieldset>
    <fieldset>
      <label>Capacidad</label>
      <input type="text" id="capacidad" />
    </fieldset>
    <fieldset>
      <label>Valor</label>
      <input type="text" id="valor" />
    </fieldset>
  </div>


  <div class="c-table" *ngIf="showList">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Entrenador</th>
        <th>Nacionalidad</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of teamList">
        <td>{{ t.id }}</td>
        <td>{{ t.nombre }}</td>
        <td>{{ t.entrenador }}</td>
        <td>{{ t.nacionalidad }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
