/* You can add global styles to this file, and also import other style files */

.c-table {
  text-align: center;
  width: 850px;
  margin: 30px auto;

  table {
    width: 100%;
  }

  th {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.form {
  width: 500px;
  margin: 30px auto;

  fieldset {
    border: 0px;

    label {
      display: block;
      font-weight: bold;
    }

    input {
      outline: none;
      border: 0px;
      border-bottom: 2px solid black;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .btn {
    border: 2px solid black;
    text-align: center;
    margin: 15px auto;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    width: 150px;
    padding: 15px 0px;
    font-weight: bold;

    &:hover {
      background: black;
      color: white;
    }
  }
}
