<section id="edit">
  <div class="form" [formGroup]="teamForm">
    <fieldset>
      <label>Nombre</label>
      <input type="text" name="nombre" formControlName="nombre" />
    </fieldset>
    <fieldset>
      <label>Estadio</label>
      <input type="text" name="estadio" formControlName="estadio" />
    </fieldset>
    <fieldset>
      <label>Sitio Web</label>
      <input type="text" name="sitioWeb" formControlName="sitioWeb" />
    </fieldset>
    <fieldset>
      <label>Nacionalidad</label>
      <input type="text" name="nacionalidad" formControlName="nacionalidad" />
    </fieldset>
    <fieldset>
      <label>Fundacion</label>
      <input type="text" name="fundacion" formControlName="fundacion" />
    </fieldset>
    <fieldset>
      <label>Entrenador</label>
      <input type="text" name="entrenador" formControlName="entrenador" />
    </fieldset>
    <fieldset>
      <label>Capacidad</label>
      <input type="text" name="capacidad" formControlName="capacidad" />
    </fieldset>
    <fieldset>
      <label>Valor</label>
      <input type="text" name="valor" formControlName="valor" />
    </fieldset>
    <div class="btn" (click)="save()">Crear</div>
  </div>
</section>
